@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 76, 85, 103;
    --highlight: 66, 129, 255;
    --disabled: 180, 180,180;
    --hover: 25, 100,255;
    --gray: 211, 211, 211;
  }

  .theme-red {
    --primary: 12, 85, 223;
  }
}